//VARIABLES

$marginB: 2rem;
$marginR: 3rem;
$buttonPadding: .5rem 1.5rem;

//colors
$colorDefault: #fff;
$colorGray: gray;
$buttonBg: darkblue;
$colorBlack: #000;
$colorBg: #1f1f38;
$colorBgVariant: #2c2c6c;

//font
$DefaultFont: 1.6rem;