.gitHub{
    display: flex;
    gap: 2rem;
    border: 2px solid $colorBgVariant;
    border-radius: 12px;
    padding: 1rem;
    width: 50%;
    margin: 5rem auto;
    @media only screen and (max-width: 900px){
        width: 100%;
        margin: 2rem 0;
    }
    @media only screen and (max-width: 600px){
        flex-direction: column;
    }

    &__avatar{
        width: 20%;
        &--img{
            width: 100%;
            border-radius: 50%;
            display: block;
        }

        @media only screen and (max-width: 600px){
            align-self: center;
        }
    }

    &__details{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-around;
        @media only screen and (max-width: 600px){
            text-align: center;
        }

        &--stats{
            display: flex;
            gap: 2rem;
            align-items: center;
        }
        &--stat{
            border: 3px solid $colorGray;
            padding: 3px;
        }
    }
}