.home{
    font-size: 3rem;
    margin: 50% auto;
    &__links{
        display: flex;
        flex-direction: column;
        &--link{
            text-decoration: none;
            color: $colorGray;
        }
    }
}